body {
    background-color: black;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

#logo {
    width: 250px;
}

#prompt {
    width: 750px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style: None;
    text-align: center;
}

#generate_btn {
    width: 775px; 
    margin-bottom: 10px;
    padding: 8px;
    background-color: #76B704;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border-style: None;
}

.generated {
    width: 250px;
    margin: 2px;
}

.save_btn {
    width: 250px;
    background-color: #3CA7F8;
    color: white;
    padding: 8px;
    margin: auto 2px;
    border-radius: 10px;
    border-style: None;
    font-weight: bold;
}

.save_btn:hover {
    cursor: pointer;
    background-color: #027DC9;
}

#generate_btn:hover {
    cursor: pointer;
    background-color: #A1DB00;
}

